@media(min-width: 768px) and (max-width: 1388px) {
    body{
        width: 100%;
    }
}

.search_options {
    float: right;
    width: 55%;
    padding: 25px;
}

.Qoz_options {
    height: 15px;
    padding: 20px;
    text-align: center;
}

.search_bar {
    float: left;
    width: 40%;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid gray;
    border-radius: 30px;
}


@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 95px;
    cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    left: 0; top: 0;
    width: 50px; height: 20px;
    background: #DDDDDD;
    border-radius: 6px;
    transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    width: 20px; height: 20px;
    transition: all .2s;
    border-radius: 6px 0 0 6px;
    background: #7F8C9A;
    top: 0; left: 0;
}

/* on checked */
[type="checkbox"]:checked + label:before {
    background:#34495E;
}
[type="checkbox"]:checked + label:after {
    background: #39D2B4;
    top: 0; left: 31px;
    border-radius: 0 6px 6px 0;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 2px;
    width: 35px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    transition: all .2s;
}

[type="checkbox"]:not(:checked) + label .ui:before {
    font-family: 'FontAwesome';
    content: "\f00d";
    left: 36px;
    margin-top: 3px;
}
[type="checkbox"]:checked + label .ui:after {
    font-family: 'FontAwesome';
    content: "\f00c";
    color: #39D2B4;
    margin-top: 3px;
    left: 12px;
}
[type="checkbox"]:focus + label:before {
    border: 0; outline: 0;
    box-sizing: border-box;
}

.menu {
    text-align: right;
}

.global_search {
    width: 100%;
}

.divQoz {
    margin-top: -40px;
    margin-left: 70px;
}

.search_text {
    position: absolute;
    border: none;
    margin-top: 15px;
    font-size: 15px;
    color: #012830;
    width: 500px;
    text-decoration: none;
}

.search_text:focus {
    outline: none;
}

.search_logo {
    height: 30px;
    padding: 6px;
}

.magnifyingGlass {
    height: 17px;
    padding-bottom: 10px;
    /*margin-left: 520px;*/
}

.icone_produit {
    text-decoration: none;
    color: black;
}

.link_magnifying {
    padding-left: 86%;
}

.menuProduit {
    float: right;
    margin-top: -40px;
}

.imgIconeProduit {
    margin-right: 20px;
}

.nav1_section {
    display: inline;
    margin-left: 50px;
}

.nav2_section {
    display: inline;
    margin-left: 10px;
}

.link_section {
    display: inline;
    font-size: 13px;
    margin: 8px;
    color: #5c6f84;
    text-decoration: none;
    font-family: Helvetica, Arial, Noto Sans, Ubuntu;
}