@media(min-width: 768px) and (max-width: 1388px) {
    body{
        width: 100%;
    }
}

.search_options {
    display: inline;
    padding: 25px;
}

.Qoz_options {
    height: 15px;
    padding: 20px;
    margin-left: 150px;
}

.search_bar {
    padding: 12px;
    display: inline;
    width: 45%;
    margin-left: 20px;
    border: 1px solid gray;
    border-radius: 30px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}


.menu {
    text-align: right;
}

.global_search {
    width: 100%;
}

.divQoz {
    margin-top: -40px;
    margin-left: 215px;
}

.divTest {
    display: inline;
    text-align: right;
}

.search_text {
    border: none;
    margin-top: 15px;
    font-size: 15px;
    color: #012830;
    width: 500px;
    margin-left: 10px;
    text-decoration: none;
}

.search_text:focus {
    outline: none;
}


.search_logo {
    height: 30px;
    margin-bottom: -5px;
}

.magnifyingGlass {
    height: 17px;
}

.icone_produit {
    text-decoration: none;
    color: black;
}

.menuProduit {
    float: right;
    margin-top: -40px;
    padding-right: 150px;
}

.imgIconeProduit {
    margin-right: 20px;
}

.spec_produit {
    font-size: 15px;
    padding: 3px;
}

.link_spec_produit {
    text-decoration: none;
    color: black;
}

.link_plus {
    text-decoration: none;
    color: black;
}


.nav1_section {
    display: inline;
    margin-left: 110px;
}

.nav2_section {
    display: inline;
    margin-left: 250px;

}

.nav3_section {
    display: inline;
    margin-left: 10px;
}

.nav4_section {
    display: inline;
}


.txtPopQoz {
    font-size: 13px;
    color: black;
}

.link_section {
    display: inline;
    font-size: 13px;
    margin: 8px;
    color: #5c6f84;
    text-decoration: none;
    font-family: Helvetica, Arial, Noto Sans, Ubuntu;
}

.link_section:hover {
    font-size: 14px;
}

.divNotPopQoz {
    text-align: center;
    background-color: #EEA9AE;
    margin-left: 1200px;
    height: 35px;
    width: 300px;
    border-radius: 3px;
}

.divPopQoz {
    text-align: center;
    background-color: #71F912;
    margin-left: 1200px;
    height: 35px;
    width: 300px;
    border-radius: 3px;
    opacity: 70%;
}

.divText {
    font-size: 14px;
}


.btnPlus {
    text-decoration: none;
}

.second {
    width: 100%;
    margin-top: 2px;
}


.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropbtn1 {
    width: 36px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    border-radius: 3px;
}

.dropdown {
    display: inline-block;
}

.global_search form {
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    opacity: 94%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    font-size: 12px;
    display: block;
}

.dropdown-content a:hover {background-color: #E6E6E6}

.dropdown:hover .dropdown-content {
    display: block;
}

.text_produit {
    position: absolute;
    margin-left: -15px;
}

.questionMark {
    margin-top: 3px;
}

.btnQuestion {
    border: none;
    margin-left: 5px;
    width: 20px;
    border-radius: 15px;
}

.hr {
    opacity: 50%;
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    margin-left: 630px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #8909B1;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.form {
    position: absolute;
}


